.big--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.big--container > * {
  margin: 0%;
}

.main--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.main--container > * {
  margin: 0.5% 0%;
}

h1 {
  text-align: center;
  font-size: 9rem;
  color: white;
}

.movie {
  margin: 2%;
  text-align: center;
  width: 35%;
  min-height: 190px;
  max-height: 190px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  border: 3px solid white;
  align-items: center;
  background: #202020;
  font-size: 2.4rem;
  animation: fadeIn 0.5s linear;
  animation-fill-mode: both;
}

.placeholder {
  width: 25%;
}

// each movie

img {
  width: 28%;
}

.information {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: 150px;
  color: white;
}

button {
  border-radius: 10px;
  padding: 3%;
  color: white;
  background: red;
  width: 80%;
  font-family: "Orelega One", cursive;
  font-size: 1.7rem;
  cursor: pointer;
  border: none;
  transition: 0.2s ease-out;
}

button:hover {
  background: #660000;
  transition: 0.2s ease-in;
}

.nomiations {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.error {
  font-size: 8rem;
  color: white;
  text-align: center;
}

span {
  color: white;
  font-size: 4rem;
}

.link {
  color: white;
  text-decoration: underline;
  transition: 0.2s ease-out;
}

.link:hover {
  color: #95bf46;
  transition: 0.2s ease-in;
}

$total-items: 5;

// Set delay per List Item
@for $i from 1 through $total-items {
  .movie:nth-child(#{$i}) {
    animation-delay: 0.21s * $i;
  }
}

// Keyframe animation
@keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 4rem;
  }

  img {
    width: 39%;
  }

  .information {
    width: 40%;
    height: 15rem;
  }

  .movie {
    width: 100%;
    font-size: 2rem;
  }

  .error {
    font-size: 6rem;
  }
}
